<p id="notice"><%= notice %></p>

<h1>Book Listings</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Isbn</th>
      <th>Condition</th>
      <th>Price</th>
      <th>User email</th>
      <th>Comments</th>
      <th>Course name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.isbn %></td>
        <td><%= listing.condition %></td>
        <td>$<%= listing.price %></td>
        <td><%= listing.user_email %></td>
        <td><%= listing.comments %></td>
        <td><%= listing.course_name %></td>
        <td><%= link_to 'Show', listing %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
<%= link_to 'New Listing', new_listing_path %>
<% end %>