<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @listing.isbn %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Seller email:</strong>
  <%= @listing.seller_email %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @listing.comments %>
</p>

<p>
  <strong>Course name:</strong>
  <%= @listing.course_name %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
